<% provide(title: "404Error")%>
<div class="jumbotron jumbotron-fruid" id="hero" style="background-image:url(/assets/error.jpg)">
    <div class="row">
        <div class="col-12 clearfix">
            <div class="float-right">
                <h5>404 Error</h5>
                <p>お探しのページは見つかりませんでした。URLをご確認ください</p>
            </div>
        </div>
    </div>
</div>