<% if notice %>
  <div class="alert alert-info alert-dismissible col-md-12" role="alert">
    <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
    </button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible col-md-12" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= alert %>
  </div>
<% end %>
<% if flash[:error] %>
  <% flash[:error].each do |error|%>
    <div class="alert alert-danger alert-dismissible col-md-12" role="alert">
      <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">close</span>
    </button>
    <%= error %>
  <% end %>
<% end%>