<% content_for :title do %>
    This is Index
<% end %>
<div id="app">
    <navbar></navbar>
    <div class="content">
        <router-view></router-view>
    </div>
    <navbar-footer></navbar-footer>
</div>
<%= javascript_pack_tag "muscle"%>
