<% content_for :title do%>
    Muscle Application!!
<% end %>
<div class="row user" id="task">
        <div class="col-xs-12 col-md-12" id="title">
            １週間のタスク
        </div>
        <div class="col-xs-12 col-md-12" id="table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>登録日</th>
                        <th>タスク内容</th>
                        <th>完了予定日</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2019/03/26</th>
                        <th>筋トレ</th>
                        <th>2019/03/27</th>
                    </tr>
                </tbody>
            </table>
        </div>

</div>

<div class="row index" id="graph">
    サンプル２
</div>
