<% provide(title: "500Error")%>
<div class="jumbotron jumbotron-fruid" id="hero" style="background-image:url(/assets/error.jpg)">
    <div class="row">
        <div class="col-12 clearfix">
            <div class="float-right">
                <h5>500 Error</h5>
                <p>申し訳ございません。サービスに問題が生じております。</p>
            </div>
        </div>
    </div>
</div>